.tempheader-container{
    height: 35px;
    font-size: 12px;
    text-align: center;
    background-color: #353535;
    color: white;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}