.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

 .search-bar{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: white;
    border-radius: 25px;
    height: 65%;
    width: 30%;
    padding: 0.5rem;
    border: 1px solid grey;

}

.search-bar input{
    width: 100%;
    border: none;
    outline: none;
}
.search-result-container{
    width: 30%;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    .search-result{
        display: flex;
        justify-content: start;
        padding: 8px;
    }
}

